.checkout{
	background-color: white;
  color: black;
  font-size: 1rem;
	padding: 20px;
}
.checkout .item-grid{
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr max-content;
	grid-gap: 5px;
	align-items:center;
	justify-items: start;
	margin: 10px 0;
}
.checkout .item-grid>*{
	margin:0;
}
.checkout .button-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.checkout .finalPrice{
	grid-column-start: 4;
}
.checkout .item-grid span{
	user-select: none;
	cursor: pointer;
	justify-self:center;
}
